doc/
.ruby-version
.#*
\#*
*.sw[op]
*.log
*.log.*
pcache.db
remote.*
.remote-*
*.dump
dat
cao-logfile*
milestones.txt
nohup.*
milestones.txt
*.diff
*.pyc
current
_darcs/
allgames*.txt
logfile*
logfile.db
tv.queue*
TAGS
splat.timestamp
nicks.map
unwon.txt
lg.rb
nicks-test.map
*.rbc
henzell.rc
password.txt
*.el
/*.sql
*.json
.rvmrc
graphs
.rvmrc
henzell-todo.txt
crawl-repository
banned_words.txt
dirserv.queue.log
henzell.out
henzell.out.*
.rvmrc.*
*.cow
*.tar.gz
backup/
tmp
user.txt
www/*.html
bin/parallelhttpfetch
pkg
src/github.com
.*.lock
server-xlogs/*
vendor/
.bundle
Gemfile.lock
