.#*
\#*
*.sw[op]
test.log
pcache.db
remote.*
.remote-*
*.dump
dat
cao-logfile*
milestones.txt
nohup.*
milestones.txt
*.diff
*.pyc
current
_darcs/
t/
allgames*.txt
logfile*
logfile.db
tv.queue*
TAGS
splat.timestamp
nicks.map
unwon.txt
lg.rb
nicks-test.map
*.rbc
henzell.rc
