html {
  font-family: "Trebuchet MS", "Sans-Serif";
  font-size: 12px;
  padding: 4px 15px;
}

h1 {
  font-size: 16px;
  font-family: "Lucida Grande", "Trebuchet MS", "Sans-Serif";
  border-bottom: 2px solid #a88;
  padding-left: 5px;
  margin-bottom: 2px;
}

p {
  margin: 0;
}

.note {
  font-size: smaller;
  color: #aaa;
  padding-left: 5px;
}

dt {
  /* display: run-in; at by's request, it breaks safari ---r. */
  /* border-top: 1px solid #ddd; */
  border-bottom: 1px solid #dcc;
  padding-top: 6px;
  margin-top: 10px;
  padding-left: 5px;
  font-family: "Lucida Grande", "Trebuchet MS", "Sans-Serif";
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

dd {
  display: block;
  margin-bottom: 4px;
  margin-left: 5px;
}

ol {
  margin-left: 5px;
  padding-left: 15px;
}

li {
  color: #aaa;
}

li span {
  color: #000;
}
