* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande",
               "Helvetica", "Sans-Serif";
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 2em;
  max-width: 1200px;
}

h1 {
  font-size: 28px;
  color: #444;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  margin-bottom: 2px;
}

p {
  margin: 0;
}

.note {
  font-size: smaller;
  color: #aaa;
  padding-left: 5px;
}

dt {
  border-top: 1px solid #fee;
  margin-top: 0.75em;
  padding-top: 0.5em;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

dd {
  background-color: #fff;
  color: #000;
  display: block;
  margin-bottom: 0.75em;
  margin-left: 5px;
  margin-top: 0.5em;
  padding-left: 0.3em;
}

ol {
  color: #000;
  margin: 0;
  margin-left: 5px;
  padding-left: 15px;
}

li {
  color: #aaa;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0;
}

li span {
  color: #000;
}
